<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="inner-container">
            <h1>Edit User</h1>
        </div>
        <%= render "confirm", user: @user %>
    </body>
</html>