<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="inner-container">
            <h1>Create User</h1>
        </div>
        <%= render "comfirm", user: @user %>
    </body>
</html>