<h1>Post</h1>

<table>
    <tr>
        <th class="post-header">Post Title</th>
        <th class="post-header">Post Description</th>
        <th class="post-header">Post User</th>
        <th class="post-header">Post Date</th>
        <th class="post-header">Edit</th>
        <th class="post-header">Delete</th>
    </tr>
    <tr>
        <td class="post-body">Title-0</td>
        <td class="post-body">Description-0</td>
        <td class="post-body">0</td>
        <td class="post-body">10/05/2019</td>
        <td class="post-body">Edit</td>
        <td class="post-body">Delete</td>
    </tr>
    <% @posts.each do |post| %>
        <tr>  
            <td class="post-body"><%= post.title %></td>
            <td class="post-body"><%= post.description %></td>
            <td class="post-body"><%= post.create_user_id %></td>
            <td class="post-body">10/05/2019</td>
            <td class="post-body">Edit</td>
            <td class="post-body">Delete</td>
        </tr>
    <% end %>
</table>