<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="inner-container">
            <h1>Create Post</h1>
        </div>
        <%= render "confirm", post: @post %>
    </body>
</html