/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";

 .navbar .nav-item {
     text-align: center;
     padding-right: 30px;
 }

 .navbar .header-text {
    
    color: black;
    font-size: 40px;
 }

 .navbar .text {
    padding-top: 25px;
    
    color: blue;
    font-size: 20px;
 }

 .navbar .nav-item {
    display: inline;
 }
 /* .common-header {
    list-style: none;
    border: 1px solid black;
    position: relative;
 } */
 li {
    display: inline;
    /* padding: 0 0px 0 10px;
    text-align: center; */
 }
 .title-word {
     font-size: 200%;
 }
 footer {
     background-color: rgb(53, 53, 53);
     color: white;
     text-align: center;
     left: 0;
     bottom: 0;
     position: fixed;
     width: 100%;
 }

 .btn-primary {
     width: 100px;
 }
 .text-field-primary {
     width: 100px;
 }
 .table-post {
     width: 60%;
    
     justify-content: center;
     
 }
 .table-user {
    width: 90%;
    
    justify-content: center;
 }
 .inner-container {
     margin-left: 2%;
     margin-bottom: 5%;
 }
 .pagination {
     display: flex;
     justify-content: center;
 }